.Contorno-MD1 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 100%;
    height: 100vh;
    margin: 10px;
    gap: 30px;
}

.Titulo-MD1 {
    font-size: xx-large;
}

.Descripcion-MD1 {
    display: flex;
    flex-direction: column;
}

/* ------------------------------FORMULARIO-------------------------------------- */

.Formulario-MD1 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
    gap: 20px;
}

.Formulario-MD1 label {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.Boton-MD1 {
    width: 90px;
}

/* ------------------------------CARACTER-------------------------------------- */

.Caracter-MD1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 20px;
    width: auto;
    height: auto;
    align-items: center;
    border: solid 1px black;
}

.Caracter-MD1 h1 {
    grid-column: 1 / 3;
    font-size: larger;
    margin: 0;
}

.inputInterno-MD1 {
    width: 40px;
}

/* ------------------------------SIMULACION-------------------------------------- */

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-wt8g {
    background-color: #34cdf9;
    font-weight: bold;
    text-align: center;
    vertical-align: top
}

.tg .tg-1wig {
    font-weight: bold;
    text-align: center;
    vertical-align: top
}

.tg .tg-0pj9 {
    background-color: #96fffb;
    border-color: #000000;
    font-weight: bold;
    text-align: center;
    vertical-align: top
}

.tg .tg-baqh {
    text-align: center;
    vertical-align: top
}

.Simulacion-MD1 h1{
    font-size: x-large;
    padding: 10px;
    border: solid 1px black;
    background-color: rgb(23, 255, 236);

}