.Contorno-Desicion {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 100%;
    height: 100vh;
    margin: 10px;
    gap: 30px;
}

.Titulo-Desicion {
    font-size: xx-large;
}

.Descripcion-Desicion {
    display: flex;
    flex-direction: column;
}

/* ------------------------------FORMULARIO-------------------------------------- */

.Formulario-Desicion {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
    gap: 20px;
}

.Formulario-Desicion label {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.Boton-Desicion {
    width: 90px;
}

.inputTabla-Desicion {
    width: 90px;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-6hok {
    background-color: #96fffb;
    font-weight: bold;
    text-align: center;
    vertical-align: top
}

.tg .tg-amwm {
    font-weight: bold;
    text-align: center;
    vertical-align: top
}

.tg .tg-1wig {
    font-weight: bold;
    text-align: center;
    vertical-align: top
}

.tg .tg-0lax {
    text-align: center;
    vertical-align: top
}

/* ------------------------------CARACTERIZACIÓN-------------------------------------- */

.contenedor-matriz-desicion {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
    gap: 20px;
}

.subtitulo-desicion {
    font-size: x-large;
    margin: 10px;
}

.tg-matriz-desicion {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 30px;
    gap: 10px;
    width: 100%;
}

.tg-matriz-desicion td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg-matriz-desicion th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg-matriz-desicion .tg-matriz-desicion-6hok {
    background-color: #96fffb;
    font-weight: bold;
    text-align: center;
    vertical-align: top
}

.tg-matriz-desicion .tg-matriz-desicion-amwm {
    font-weight: bold;
    text-align: center;
    vertical-align: top
}

.tg-matriz-desicion .tg-matriz-desicion-1wig {
    font-weight: bold;
    text-align: center;
    vertical-align: top
}

.tg-matriz-desicion .tg-matriz-desicion-0lax {
    text-align: center;
    vertical-align: top
}

/* ------------------------------OPTIMISTA-------------------------------------- */

.tg-optimista {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg-optimista {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg-optimista td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg-optimista th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg-optimista .tg-optimista-kjfa {
    background-color: #ffce93;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    vertical-align: top
}

.tg-optimista .tg-optimista-baqh {
    text-align: center;
    vertical-align: top
}

.tg-optimista .tg-optimista-j6lv {
    background-color: #96fffb;
    text-align: center;
    vertical-align: top
}

/* ------------------------------SIMULACION-------------------------------------- */

.tg-simulacion-desicion {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.tg-simulacion-desicion td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg-simulacion-desicion th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg-simulacion-desicion .tg-simulacion-desicion-jwtr {
    background-color: #38fff8;
    text-align: center;
    vertical-align: top
}

.tg-simulacion-desicion .tg-simulacion-desicion-baqh {
    text-align: center;
    vertical-align: top
}

.tg-simulacion-desicion .tg-simulacion-desicion-amwm {
    font-weight: bold;
    text-align: center;
    vertical-align: top
}