.Contorno{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100vh;
    gap: 50px;
}

.Encapsulado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 5px;

}
.Titulo{
    font-size: x-large;
    margin: 20px;
}
.Nombre{
    font-size: large;
}
.Codigo{
    font-size: medium;
}